.parent-block{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
  margin: 30px auto;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 50px;
}
.child-block{
  padding: 10px;
  border: 2px solid brown;
  width: inherit;
  margin: 0 10px;
}
.appended-blocks{
  width: 50%;
  margin: 0 auto 10px auto;
  display: flex;
}
.btn-color-picker{
  padding: 10px;
}

.center{
  display: flex;
  justify-content: center;
}
a{
  display: block;
  line-height: 35px;
  font-size: 15px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  text-align: center;
  position: relative;
  transition: all .4s;
  padding: 0px 20px;
}
a span{
  position: relative;
  z-index: 2;
}
a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: all .35s;
}
a:hover{
  color: #fff;
}
a:hover:after{
  width: 100%;
}

input{
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  width: 50%;
  display: flex;
}

input:hover{
  background-color: darkgrey;
}

